@import 'breakpoints';

.number-cell {
  @apply flex items-center justify-center text-default text-sm sm:text-base;
  border-right: 1px solid var(--color-input);
  border-bottom: 1px solid var(--color-input);
  width: -webkit-fill-available;
  width: -moz-available;
  height: 2rem; // Default height

  &.empty-cell {
    @apply w-4;
  }

  @include tablet {
    height: 3rem;
  }

  @include desktop {
    height: 3rem;
  }
}

.square-cell {
  @extend .number-cell;
  @apply text-[8px] sm:text-xs cursor-pointer p-1 text-center truncate overflow-hidden whitespace-nowrap;
  outline: 1px solid theme('backgroundColor.card');
  outline-offset: -1px;
} 

.label-width {
  @apply w-4;
}