<div class="relative">
  <div class="pt-8 pl-8">
    <!-- Top row with home numbers -->
    <div class="grid grid-cols-[auto_repeat(10,minmax(0,1fr))] gap-0">
      <div class="number-cell"></div>
      <div *ngFor="let num of homeNumbers; let i = index"
           class="number-cell ">
        <app-animated-number [number]="num" [animate]="isAnimating"></app-animated-number>
      </div>
    </div>

    <!-- Grid rows -->
    <div *ngFor="let awayNum of awayNumbers; let row = index" 
         class="grid grid-cols-[auto_repeat(10,minmax(0,1fr))] gap-0">
      <!-- Left side away numbers -->
      <div class="number-cell  pr-4 label-width">
        <app-animated-number [number]="awayNum" [animate]="isAnimating"></app-animated-number>
      </div>

      <!-- Square cells -->
      <div *ngFor="let homeNum of homeNumbers; let col = index"
           [ngClass]="[getSquareClass(row, col), 'square-cell hover:bg-square-hover']"
           (click)="onSquareClick(row, col)">
        {{ getSquarePlayer(row, col) }}
      </div>
    </div>

    <!-- Team Labels -->
    <div class="absolute top-8 left-0 h-full flex items-center">
      <div class="transform -rotate-90 origin-top-left whitespace-nowrap font-bold text-lg text-heading capitalize">
        {{ awayTeam }}
      </div>
    </div>
    <div class="absolute top-0 left-8 w-full text-center font-bold text-lg text-heading capitalize">
      {{ homeTeam }}
    </div>
  </div>
</div>