<div class="bg-card rounded-lg p-4">
  <h2 class="text-base sm:text-lg font-bold mb-2 sm:mb-4 text-heading">Quarter {{ quarter }}</h2>
  <div class="space-y-2 sm:space-y-4">
      <div class="flex items-center justify-between gap-2">
        <span class="w-32 text-default capitalize">{{ awayTeam || 'Away' }}</span>
        <input type="number" [(ngModel)]="scores.away" 
               (ngModelChange)="onScoreChange()"
               class="w-16 bg-input text-default border rounded p-2 text-center focus:outline-none focus:ring-2 focus:ring-gradient-to-r focus:from-secondary-500 focus:via-secondary-600 focus:to-accent-600">
      </div>
    <div class="flex items-center justify-between gap-2">
      <span class="w-32 text-default capitalize">{{ homeTeam || 'Home' }}</span>
      <input type="number" [(ngModel)]="scores.home" 
             (ngModelChange)="onScoreChange()"
             class="w-16 bg-input text-default border rounded p-2 text-center focus:outline-none focus:ring-2 focus:ring-gradient-to-r focus:from-secondary-500 focus:via-secondary-600 focus:to-accent-600">
    </div>
  </div>
</div>